In [82]:
# load all data.text to data 
import pandas as pd
data1= pd.read_csv('datasetSentences.txt',sep ='\t', header=None)
data2 = data1.drop(0, 1)
data3= pd.read_csv('datasetSplit.txt',sep =',', header=None)
data4 = data3.drop(0, 1)
data5 = pd.read_csv('sentiment_labels.txt',sep ='|', header=None)
data6 = data5.drop(0,1)
data2.columns =['sentences']
data2_drop = data2.drop(data2.index[0])
data4.columns =['datasplit']
data4_drop = data4.drop(data4.index[0])
data6.columns =['Sentiment_value']
data6_drop = data6.drop(data4.index[0])
data2['datasetsplit'] = data4_drop
data2_drop= data2.drop(data2.index[0])
data2_drop
data2_drop['sentimenvalue'] = data6_drop
data = data2_drop
data

,sentences,datasetsplit,sentimenvalue
1,The Rock is destined to be the 21st Century 's...,1,0.5
2,The gorgeously elaborate continuation of `` Th...,1,0.5
3,Effective but too-tepid biopic,2,0.44444
4,If you sometimes like to go to the movies to h...,2,0.5
5,"Emerges as something rare , an issue movie tha...",2,0.42708
...,...,...,...
11851,A real snooze .,1,0.44444
11852,No surprises .,1,0.19444
11853,We 've seen the hippie-turned-yuppie plot befo...,1,0.61111
11854,Her fans walked out muttering words like `` ho...,1,0.72222
11855,In this case zero .,1,0.5

In [77]:
# train and test process
from sklearn.model_selection import train_test_split
sentences = data['sentences']
y = data.datasetsplit
sentences_train,sentences_test,y_train,y_test=train_test_split(sentences,y,test_size=0.2)

In [79]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorizer.fit(sentences_train)

X_train = vectorizer.transform(sentences_train)
X_test  = vectorizer.transform(sentences_test)

In [80]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score = classifier.score(X_test, y_test)

/home/rama/.local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/rama/.local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [81]:
score

0.6857865879375791